.header-body {
    background: linear-gradient(0deg, rgba(65, 84, 200, 1) 0%, rgba(94, 59, 200, 1) 100%);
    padding: 20px;
    color: #fff;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;

    img {
        margin-right: 10px;
    }
}